/.vscode
/trabalho1/gera-matrix
/trabalho1/matrix-result
/trabalho1/matrix-result2
/trabalho1/matrix-test
/trabalho1/matrix-test2
/trabalho1/mlt

/trabalho2/gera-matrix
/trabalho2/mlt
/trabalho2/mlt_gpu
/trabalho2/result1.dat
/trabalho2/result2.dat
/trabalho2/floats1.dat
/trabalho2/floats2.dat

/trabalho3/enunciado.txt



